{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block css %}
  {% compress css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "sparestub/css/home.css" %}">
  {% endcompress %}
{% endblock %}

{% block content %}
  <div id="introduction" style="background-image: url({% static "sparestub/backgrounds/concert-optimized.jpg" %});">
    <div class="container">
      <div class="row text-center">
        <h1 class="col-xs-12 section-title intro-section">
			<span class="shadow-black">Buyer, meet seller.</span>
		</h1>
		<h3 class="col-xs-12 section-title intro-section">
			<span class="shadow-black">SpareStub is the first marketplace where you can sell your extra ticket and find someone to go to the event with you.</span>
		</h3>
        <div id="intro-button-div" class="col-xs-12">
			<!--
          <div id="left-intro">
              <button id="search-now" class="btn btn-primary intro-btn" type="button">Search Now</button>
          </div>
				-->
          <div id="right-intro">
          {% if user.is_authenticated %}
            <button class="btn btn-primary intro-btn submit-ticket-form-button" type="button" data-toggle="modal">Submit Your Stub</button>
          {% else %}
            <button class="btn btn-primary intro-btn signup-form-button" type="button" data-toggle="modal" data-target="#modal-signup-root">Join now to search, buy or sell tickets</button>
          {% endif %}
          </div>
        </div>
        <div id="buffer" class="col-xs-12"></div>
        <div id="learn-more" class="col-xs-12 center-block">
          <div>
            <h3>Learn More</h3><br>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="introducing-sparestub" style="background-image: url({% static "sparestub/backgrounds/homepage_colored_lights.jpg" %});">
    <div class="container">
	  <div class="content">
		  <h2 class="section-title shadow-black">Introducing SpareStub</h2>
		  <p>We're building a community of fans. Join our growing family to sell your spare stub or buy one.</p>
		  <h3 class="section-title">
			<span class="shadow-black">Fairly Priced Tickets.</span>
			<span class="shadow-black">New Friends.</span>
		  </h3>
		  <p>What kinds of stubs? Concerts, festivals, sports, Broadway, movie premiers, lift tickets... anything!</p>
		  <p>Never find yourself with an extra ticket again.</p>
	  </div>
    </div>
  </div>

  <div id="how-it-works">
    <div class="container-fluid">
      <div id="steps" class="row">
        <h2 class="col-xs-12 section-title shadow-white">How It Works</h2>
        <div id="step-1" class="step text-center col-xs-12 col-sm-4">
<!--
          <div class="step-explanation center-block">
             <h4>It's where sellers...</h4>
          </div>
-->
          <img class="step-image" src="{% static "sparestub/logos/post-optimized.png" %}">
          <div class="step-explanation center-block">
            <span class="title">Sell your stub. Find a gig buddy</span>
            <p>Have an extra ticket? Post it for free and watch the requests come in! Only pay the $5 charge if you approve a buyer. Check out our <a href="{% url "sellers guide" %}">Seller's Guide</a> for more info!</p>
          </div>
        </div>
        <div id="step-2" class="step text-center col-xs-12 col-sm-4">
<!--
          <div class="step-explanation center-block">
             <h4>....and buyers...</h4>
          </div>
-->
          <img class="step-image" src="{% static "sparestub/logos/buy-optimized.png" %}">
          <div class="step-explanation center-block">
            <span class="title">Find a ticket and a new friend</span>
            <p>Search for spare stubs in your city. Check out the seller's bio and user reviews. Get to know each other. Match made in heaven? Request to Buy the ticket. Check out the <a href="{% url "buyers guide" %}">Buyer's Guide</a> for more info!</p>
          </div>
        </div>
        <div id="step-3" class="step text-center col-xs-12 col-sm-4">
<!--
          <div class="step-explanation center-block">
             <h4>...come together!</h4>
          </div>
-->
          <img class="step-image" src="{% static "sparestub/logos/go-optimized.png" %}">
          <div class="step-explanation center-block">
            <span class="title">And Then... Happily Ever After</span>
            <p>Buyers and sellers handle the ticket and payment exchange however works best for them, and then have a great night together! After the event, they can leave each other a review.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="press" style="background-image: url({% static "sparestub/backgrounds/cityscape-optimized.jpg" %});">
    <h2 id="press-title" class="section-title shadow-white">SpareStub in the Press</h2>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/dzone.png" %}">
        <h4><a href="http://css.dzone.com/articles/sparestub-thank-open-source" target="_blank">The Next Phase of Business Evolution: How Open Source is Launching Startups like SpareStub</a></h4>
      </div>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/superheroyou.png" %}">
        <h4><a href="http://superheroyou.com/10-super-startups-2015/" target="_blank">10 Super Startups to Check Out in 2015</a></h4>
      </div>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/lioness.png" %}">
        <h4><a href="http://lionessmagazine.com/ask-entrepreneur-stephanie-macconnell-sparestub/" target="_blank">Ask an Entrepreneur</a></h4>
      </div>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/newborn.png" %}">
        <h4><a href="http://startuplist.org/sparestub/" target="_blank">Startup Feature: SpareStub</a></h4>
      </div>
    </div>
  <div class="footer">

    <div class="footer-container">
        <ul class="footer-column">
            <li class="footer-column-title">Talking Shop</li>
            <li><a href="{% url "buyers guide" %}">Buyer's Guide</a></li>
            <li><a href="{% url "sellers guide" %}">Seller's Guide</a></li>
            <li><a href="{% url "dispute resolution" %}">Dispute Resolution</a></li>
            <li><a href="{% url "safety tips" %}">Safety Tips</a></li>
            <li><a href="http://www.ag.ny.gov/sites/default/files/pdfs/bureaus/consumer_fraud/dating_service.pdf">Online Connection Bill of Rights</a></li>
          {% comment %} TODO <a href="{% url "press_kit" %}">Press Kit</a> {% endcomment %}
        </ul>
		<ul class="footer-column">
            <li class="footer-column-title">Follow the Adventure</li>
            <li class="social">
			  <a href="https://www.twitter.com/sparestub/" target="_blank">
				<img src="{% static "sparestub/images/svg/twitter12.svg" %}" alt="sparestub twitter" />
			  </a>
			</li>
            <li class="social">
			  <a href="http://www.instagram.com/sparestub/" target="_blank">
				<img src="{% static "sparestub/images/svg/instagram19.svg" %}" alt="sparestub instagram" />
			  </a>
			</li>
            <li class="social">
			  <a href="http://www.facebook.com/sparestub/" target="_blank">
				<img src="{% static "sparestub/images/svg/facebook2.svg" %}" alt="sparestub facebook" />
			  </a>
			</li>
            <li class="social">
			  <a href="https://www.linkedin.com/company/sparestub" target="_blank">
				<img src="{% static "sparestub/images/svg/linkedin1.svg" %}" alt="sparestub linkedin" />
			  </a>
			</li>
        </ul>
    </div>
	<div class="clearfix"></div>
	<div class="bottom">
	  <ul>
		<li>SpareStub LLC &copy 2015</li>
		<li>·</li>
		<li><a href="{% url "tos" %}">Terms of Service</a></li>
		<li>·</li>
		<li><a href="{% url "privacy policy" %}">Privacy Policy</a></li>
	  </ul>
	</div>
  </div>
  <div id="debugging"></div>
{% endblock %}

{% block js %}
  {% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "sparestub/js/home.js" %}"></script>
  {% endcompress %}
{% endblock %}